footer{
  background-color: #EEE;
  padding: 3em;
  margin-top: 1em;
}

table {
    border-collapse: collapse;
    margin: auto;
    width: 80%;
}

table, th, td {
    border: 1px solid black;
    text-align: center;
}

th{
    background-color: #428BCA;
}

.red{
    color: red;
    font-weight: bold;
}

#recorrido{
    width: 100%;
}

#recorrido td:last-child{
    text-align: right;
}

.table-spacer{
    width: 30%;
    float: right;
    height: 20px;
}
